@import 'src/styles/mixins.scss';
.wrapper {
  table {
    // width: 100%;
    border-collapse: collapse;
    background-color: white;

    th,
    td {
      padding: 8px;
      text-align: center;
      border: 1px solid #ccc;
      color: theme('colors.natural.700');
    }

    th,
    td:first-child,
    tr {
      border: none;
    }
    th {
      background-color: white;
      color: theme('colors.primary.600');
    }
  }
  :global {
    .ant-btn-primary {
      @include accent-btn;
      padding: 14px 40px;
      font-size: 16px;
      height: 52px;
      &:hover {
        background-color: none !important;
        border-color: none !important;
      }
    }

    .ant-btn-default {
      @include accent-btn-2;
      padding: 8px 20px;
      font-size: 16px;
      height: 52px;
      &:hover {
        background-color: none !important;
        border-color: none !important;
      }
    }
  }
}

.pastSlot,
.checkedBooking,
.uncheckedBooking {
  background-color: theme('colors.natural.100');
}

.modal {
  :global {
    .ant-btn-primary {
      @include accent-btn;
      padding: 14px 40px;
      font-size: 16px;
      height: 52px;
      &:hover {
        background-color: none !important;
        border-color: none !important;
      }
    }
  }
}
