.wrapper {
  table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      padding: 8px;
      text-align: center;
      border: 1px solid #ccc;
    }
    th {
      background-color: #f4f4f4;
    }
  }
}

.pastSlot {
  background-color: red;
}

.checkedBooking {
  background-color: pink;
}

.uncheckedBooking {
  background-color: yellow;
}
