@import 'src/styles/mixins.scss';
.wrapper {
  table {
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      padding: 8px;
      text-align: center;
      border: 1px solid #ccc;
    }
    th {
      background-color: #f4f4f4;
    }
  }
}

.pastSlot {
  background-color: red;
}

.checkedBooking {
  background-color: pink;
}

.uncheckedBooking {
  background-color: yellow;
}

.modal {
  :global {
    .ant-btn-primary {
      @include accent-btn;
      padding: 14px 40px;
      font-size: 16px;
      height: 52px;
      &:hover {
        background-color: none !important;
        border-color: none !important;
      }
    }
  }
}
