@import '/src/styles/mixins.scss';

.tableContainer {
  :global {
    .ant-btn-primary {
      @include accent-btn;
      font-size: 16px;
      padding: 14px 20px;
      font-weight: 700;
      border-radius: 40px;
      line-height: 24px;
      height: 52px;
    }
    .ant-table-wrapper
      .ant-table-container
      table
      > thead
      > tr:first-child
      > *:last-child {
      border-start-end-radius: 20px;
    }

    .ant-table-wrapper
      .ant-table-container
      table
      > thead
      > tr:first-child
      > *:first-child {
      border-start-start-radius: 20px;
    }

    .ant-table-wrapper .ant-table-thead > tr > th,
    :where(.css-dev-only-do-not-override-3rel02).ant-table-wrapper
      .ant-table-thead
      > tr
      > td {
      color: theme('colors.natural.500');
      font-weight: 400;
    }

    .ant-pagination .ant-pagination-item-active a {
      color: theme('colors.natural.700');
      font-weight: 400;
    }

    .ant-pagination .ant-pagination-item-active {
      background-color: theme('colors.natural.100');
      border-radius: 50%;
      border: none;
    }

    li.ant-pagination-item.ant-pagination-item-2 {
      border-radius: 50%;
    }

    .ant-pagination .ant-pagination-options {
      display: none;
    }
  }
}
