@import '/src/styles/CenteredInput.module.scss';
@import '/src/styles/mixins.scss';

.inputContainer {
  :global {
    .ant-input {
      @include centeredInput;
      padding: 14px 20px;
      border-radius: 24px;
    }

    .ant-input-affix-wrapper.ant-input-password {
      border-radius: 24px;
      padding: 0 20px;
      border: 1px solid theme('colors.primary.400');
      .ant-input {
        @include centeredInput;
        padding: 14px 20px;
        border: none;
      }
    }
  }
}

.userProfileContainer {
  :global {
    .ant-btn-primary {
      @include neutral-btn;
      font-size: 14px;
      padding: 4px 12px;
      font-weight: 500;
      border-radius: 40px;
      line-height: 20px;
      height: 28px;
    }
  }
}

.editProfileContainer {
  :global {
    .ant-btn-primary {
      @include accent-btn;
      font-size: 16px;
      padding: 14px 20px;
      font-weight: 700;
      border-radius: theme('borderRadius.large');
      line-height: 24px;
      height: 52px;
    }
  }
}

.modalContainer {
  :global {
    .ant-modal-content {
      border-radius: theme('borderRadius.large') !important;
      padding: 0 !important;
    }
  }
}
