.picker {
  :global {
    .ant-picker {
      width: 100%;
      border-radius: 20px;
      padding: 8px 12px;
      color: #40423f;
    }
    .ant-picker-outlined {
      border-color: #e1e1e1;
    }
  }
}
