@import "/src/styles/mixins.scss";

.searchContainer {
  :global {
    button.ant-btn.ant-input-search-button {
      border-radius: 40px !important;
      height: 32px;
      width: 32px;
    }

    span.ant-input-group-addon {
      width: 40px;
    }

    span.anticon.anticon-search {
      color: theme("colors.accent.600");
    }
  }
}
