@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Montserrat", sans-serif;
  }
  h1,
  h2,
  h3 {
    font-weight: 500;
  }

  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 32px;
    line-height: 44px;
  }

  h3 {
    font-size: 28px;
    line-height: 38px;
  }

  h4 {
    font-size: 24px;
    line-height: 32px;
  }

  .body-1,
  .body-2,
  .body-3,
  .body-4,
  .body-5 {
    font-weight: 400;
  }

  .body-1 {
    font-size: 20px;
    line-height: 28px;
  }

  .body-2 {
    font-size: 18px;
    line-height: 26px;
  }

  .body-3 {
    font-size: 16px;
    line-height: 24px;
  }

  .body-4 {
    font-size: 14px !important;
    line-height: 20px !important;
  }

  .body-5 {
    font-size: 12px;
    line-height: 16px;
  }
}
/* CSS tùy chỉnh */
::-webkit-scrollbar {
  width: 4px; /* Độ rộng của thanh cuộn dọc */
  height: 6px; /* Độ cao của thanh cuộn ngang */
}

/* Handle */

/* Handle on hover */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Màu của thanh cuộn */
  border-radius: 40px; /* Bo tròn góc */
}
::-webkit-scrollbar-thumb:hover {
  height: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background: transparent; /* Nền thanh cuộn */
  border-radius: 40px; /* Bo tròn góc */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hover-spin {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
}

.hover-spin:hover {
  animation: spin 1s linear infinite;
}
