@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 62.5%;
    }
    body {
        font-family: 'Montserrat', sans-serif;
    }
    h1,
    h2,
    h3 {
        font-weight: 500;
    }

    h1 {
        font-size: 4.4rem;
        line-height: 5.6rem;
    }
    h2 {
        font-size: 3.2rem;
        line-height: 4.4rem;
    }

    h3 {
        font-size: 2.8rem;
        line-height: 3.8rem;
    }

    h4 {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    .body-1,
    .body-2,
    .body-3,
    .body-4,
    .body-5 {
        font-weight: 400;
    }

    .body-1 {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .body-2 {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    .body-3 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .body-4 {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .body-5 {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
}
