@import '/src/styles/mixins.scss';

.createSportFileContainer {
  :global {
    .ant-btn-primary {
      @include accent-btn;
      font-size: 16px;
      padding: 14px 40px;
      font-weight: 700;
      border-radius: 40px;
      line-height: 24px;
      height: 52px;
    }

    .ant-select-single.ant-select-lg .ant-select-selector {
      border-radius: 40px;
    }

    .ant-input-number-focused .ant-input-number-handler-wrap,
    .ant-input-number-lg .ant-input-number-handler-wrap {
      display: none;
    }
  }
}
