@import '/src/styles/mixins.scss';

.createSportFileContainer {
  :global {
    .ant-btn-primary {
      @include accent-btn;
      font-size: 16px;
      padding: 14px 40px;
      font-weight: 700;
      border-radius: 40px;
      line-height: 24px;
      height: 52px;
    }

    .ant-select-single.ant-select-lg .ant-select-selector {
      border-radius: 40px;
    }

    .ant-input-number-focused .ant-input-number-handler-wrap,
    .ant-input-number-lg .ant-input-number-handler-wrap {
      display: none;
    }
  }
}

.buttonCustom {
  :global {
    .ant-col-offset-8 {
      margin-inline-start: 0 !important;
      margin: 0;
    }
  }
}

.spaceContainer {
  :global {
    .ant-space-item {
      margin: 0;
    }
  }
}

.inputNumber {
  :global {
    input {
      text-align: center !important;
    }
    .ant-input-number-input {
      align-items: center !important;
      justify-content: center !important;
    }
    .ant-input-number {
      border-radius: 40px;
    }
  }
}
