@import "/src/styles/CenteredInput.module.scss";
.inputContainer {
  :global {
    .ant-input {
      @include centeredInput;
      padding: 14px 20px;
      border-radius: 24px;
    }

    .ant-input-affix-wrapper.ant-input-password {
      border-radius: 24px;
      padding: 0 20px;
      border: 1px solid theme("colors.primary.400");
      .ant-input {
        @include centeredInput;
        padding: 14px 20px;
        border: none;
      }
    }
  }
}
